@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


/* FONTS STYLES
.karla{
font-family: "Karla", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.francois-one-regular {
font-family: "Francois One", sans-serif;
font-weight: 400;
font-style: normal;
}
*/

/* Puntos de quiebre:
móvil: 430
tablet: 820
*/

/* Equvalencias REM
1rem = 16px
1.5rem = 24px
2rem = 32px
3rem = 48px
4rem = 64px
4.5rem = 72px
5rem = 80px
6rem= 96px
*/

/* VARIABLES Y ESTADO INICIAL */

:root {
    --color-red: #e30613;
    --color-purple: #5C3A8C;
    --color-lightblue: #acbee4;
    --color-yellow: #f8ea1b;
    --color-orange: #f28705;
    --color-withe: #f7f5f9;
    --color-black: #0f0d11;
    --color-textdark: #251b33;
    --color-textlight: #cec4dd;
    --font-body: "Karla", sans-serif;
    --font-title: "Francois One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUERPO / BODY (DESKTOP) */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-withe);
}

/* ENCABEZADO / HEADER (DESKTOP) */

header {
    height: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-purple);
}

.logo {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-withe);
    padding: 2%;
}

.nav {
    display: block;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    font-family: var(--font-body);
    color: var(--color-withe);
    cursor: pointer;
}

.nav__list li a:hover {
    color: var(--color-yellow);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* ESTILO TEXTOS / TEXT STYLES (DESKTOP) */

.headline {
    font-family: var(--font-title);
    font-weight: 400;
    color: var(--color-black);
    text-align: left;
}

.txt-body {
    font-family: var(--font-body);
    color: var(--color-textdark);
    text-align: left;
}

.xlarge {
    font-size: 2.5rem;
}

.large {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem;
}

.orange {
    color: var(--color-orange);
}

.center {
    text-align: center;
}

.withe {
    color: var(--color-withe);
}

.black {
    font-weight: 700;
}

/* ESTILO DE BOTONES / BUTTONS STYLES (DESKTOP) */

.btn__icon-full {
    height: 3rem;
    width: 3rem;
    background-color: var(--color-purple);
    border: 3px solid var(--color-purple);
    color: var(--color-withe);
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
}

.btn__txt {
    height: 3rem;
    width: 12rem;
    background-color: var(--color-withe);
    border: 3px solid var(--color-purple);
    color: var(--color-purple);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 1rem;

    cursor: pointer;
}

.btn__txt-full {
    height: 3rem;
    width: 8rem;
    background-color: var(--color-purple);
    border: 3px solid var(--color-purple);
    color: var(--color-withe);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 1em;

    cursor: pointer;
}

.fullwidth {
    width: 100%;
    margin-top: 1rem;
}

.icon-sm {
    font-size: 1.5rem;
    padding-top: 0.25rem;
}

/* EFECTOS DE HOVER PARA BOTONES / HOVER EFFECT FOR BUTTONS (DESKTOP) */

.btn-hover:hover {
    background-color: var(--color-yellow);
    border: 3px solid var(--color-black);
    color: var(--color-black);
}

/* HERO */

.container__hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 7rem 9rem;
}

.container__hero_img {
    width: 40%;
}

.container__hero_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
}

.container__hero_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.container__hero_social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

/* SOBRE MÍ / ABOUT ME (DESKTOP) */

.container__aboutme {
    background-image: url("../img/back_flores.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__aboutme-box {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    background-color: var(--color-withe);
}

/* ENCABEZADOS DE SECCIONES (DESKTOP) */

.header__section {
    background-color: var(--color-purple);
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MIS SERVICIOS / MY SERVICES (DESKTOP) */

.container__services {
    width: 100%;
    padding-top: 5rem;
}

.service_img {
    width: 11rem;
}

.container__services-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/back_fig1.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.container__services-scroll {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5.5rem;
    padding: 5.5rem 6.25rem;
}

.container__services-servicebox {
    width: 320px;
    background-color: var(--color-orange);
    border: 3px solid var(--color-orange);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.container__services-servicebox:hover {
    background-color: var(--color-withe);
    border: 3px solid var(--color-black);
    box-shadow: 8px 8px 0px 0px var(--color-black);
}

/* HABILIDADES / SKILLS (DESKTOP)*/

.container__skills {
    width: 100%;
}

.container__skills-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/back_fig2.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.container__skills-scroll {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.375rem;
    padding: 10rem 6.25rem;
}

.skill_box {
    height: 10rem;
    width: 10rem;
    background-color: var(--color-withe);
    border: 3px solid var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.bc-red {
    background-color: var(--color-red);
    border: 3px solid var(--color-red);
}

.bc-lightblue {
    background-color: var(--color-lightblue);
    border: 3px solid var(--color-lightblue);
}

.bc-yellow {
    background-color: var(--color-yellow);
    border: 3px solid var(--color-yellow);
}

.bc-purple {
    background-color: var(--color-purple);
    border: 3px solid var(--color-purple);
}

.bc-orange {
    background-color: var(--color-orange);
    border: 3px solid var(--color-orange);
}

.icon-xl {
    font-size: 5rem;
}

.skill_box:hover {
    background-color: var(--color-withe);
    border: 3px solid var(--color-black);
}

.bc-red:hover {
    box-shadow: 8px 8px 0px 0px var(--color-red);
}

.bc-lightblue:hover {
    box-shadow: 8px 8px 0px 0px var(--color-lightblue);
}

.bc-yellow:hover {
    box-shadow: 8px 8px 0px 0px var(--color-yellow);
}

.bc-purple:hover {
    box-shadow: 8px 8px 0px 0px var(--color-purple);
}

.bc-orange:hover {
    box-shadow: 8px 8px 0px 0px var(--color-orange);
}

/* PROYECTOS / PROJECTS (DESKTOP) */

.container__projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-bottom: 5rem;
}

.container__projects-projectbox-left,
.container__projects-projectbox-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0px 7rem;
}

.project_img {
    width: 55%;
}

.container__projects-projectbox-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.container__projects-projectbox-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

/* FORMACIÓN / STUDIES (DESKTOP) */

.container__studies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-bottom: 5rem;
}

.container__studies-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 10rem;
}

.container__studies-study {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.studies_img {
    width: 10%;
}

.container__studies-study-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.25rem;
}

/* CONTACTO / CONTACT (DESKTOP) */

.container__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-lightblue);
}

.container__contact-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 9rem;
}

.container__contact-topleft {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.contact_img {
    width: 100%;
}

.container__contact-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.container__contact-social-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.container__contact-form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
}

/* INPUTS (DESKTOP)*/

.input {
    width: 100%;
    height: 3rem;
    padding: 0.25rem 1rem;
    border: 3px solid var(--color-withe);
    background-color: var(--color-withe);
    font-family: var(--font-body);
    font-size: 1.5rem;
    color: var(--color-textdark);
    text-align: left;
    outline: none;
    line-height: 150%;
}

textarea {
    width: 100%;
    height: 160px;
    padding: 0.25rem 1rem;
    border: 3px solid var(--color-withe);
    background-color: var(--color-withe);
    font-family: var(--font-body);
    font-size: 1.5rem;
    color: var(--color-textdark);
    text-align: left;
    outline: none;
    resize: none;
    line-height: 150%;
    box-sizing: border-box;
}

::placeholder {
    color: var(--color-purple);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 200;
}

input:focus,
textarea:focus {
    border: 3px solid var(--color-yellow);
    background-color: var(--color-withe);
}


/* BOTON ARRIBA / BUTTON UP (DESKTOP)*/

.btn-up {
    height: 3rem;
    width: 3rem;
    background-color: var(--color-red);
    border: 3px solid var(--color-red);
    color: var(--color-withe);
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 0.2rem;
    position: fixed;
    bottom: 4rem;
    right: 2.5rem;
    cursor: pointer;
    transform: scale(0);
}

/* FOOTER  (DESKTOP)*/

footer {
    background-color: var(--color-black);
    width: 100%;
    padding: 16px;
}

/* //////      TABLET     ////// */

@media (max-width: 820px) {

    /* ENCABEZADO / HEADER  (TABLET)*/

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: none;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-withe);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-purple);
        padding: 1rem 2rem;
        box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        flex-direction: column;
        align-items: end;
    }

    /* HERO  (TABLET)*/

    .container__hero {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
        padding: 4rem 3rem;
    }

    .container__hero_img {
        padding-top: 0;
    }

    .container__hero_txt {
        padding: 0;
    }

    /* SOBRE MÍ / ABOUT ME (TABLET) */

    .container__aboutme {
        padding: 2rem;
    }

    /* MIS SERVICIOS / MY SERVICES (TABLET) */

    .container__services-area {
        background-image: none;
    }

    .container__services-scroll {
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
        padding: 4rem 0;
    }

    /* HABILIDADES / SKILLS (TABLET) */

    .container__skills-area {
        background-image: none;
    }

    .container__skills-scroll {
        flex-flow: row wrap;
        justify-content: center;
        gap: 4rem;
        padding: 4rem 0;
    }

    /* PROYECTOS / PROJECTS (TABLET) */

    .container__projects-projectbox-left {
        flex-direction: column;
        padding: 0 2rem;
    }

    .container__projects-projectbox-right {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .project_img {
        width: 100%;
    }

    /* FORMACIÓN / STUDIES (TABLET) */

    .container__studies-area {
        padding: 0px 2rem;
    }

    /* CONTACTO /CONTACT (TABLET) */
    .container__contact-area {
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
    }

    .container__contact-topleft {
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .contact_img {
        width: 50%;
    }

    .container__contact-form {
        width: 100%;
        padding: 0;
    }

}

/* //////      MÓBVIL / MOBILE     ////// */

@media (max-width: 430px) {

    /* HERO (MOBILE)*/

    .container__hero_img {
        align-self: center;
        width: 60%;
    }

    .xlarge {
        font-size: 2rem;
    }

    .large {
        font-size: 1.75rem;
    }

    .container__hero_social {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    /* BOTONES / BUTTONS (MOBILE)*/

    .btn__txt-full {
        width: 12rem;
    }

    .fullwidth {
        width: 100%;
        margin-top: 1rem;
    }

    /* HABILIDADES / SKILLS (MOBILE)*/

    .container__skills-scroll {
        gap: 2rem;
        padding: 4rem 0;
    }

    /* PROYECTOS / PROJECTS (MOBILE)*/

    .container__projects-projectbox-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    /* ESTUDIOS / STUDIES (MOBILE)*/
    .container__studies-study {
        align-items: flex-start;
    }

    .studies_img {
        width: 20%;
    }

    /* CONTACTO / CONTACT (MOBILE)*/
    .container__contact-topleft {
        width: 100%;
        flex-direction: column;
    }

    .contact_img {
        width: 100%;
    }

    .container__contact-social {
        width: 100%;
    }
}